@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 6%;
    --foreground: 240 5% 90%;

    --card: 240 6% 8%;
    --card-foreground: 240 5% 90%;

    --popover: 240 5% 9%;
    --popover-foreground: 240 5% 90%;

    --primary: 240 5% 90%;
    --primary-foreground: 240 6% 6%;

    --secondary: 240 4% 12%;
    --secondary-foreground: 240 5% 90%;

    --muted: 240 4% 12%;
    --muted-foreground: 240 4% 65%;

    --accent: 240 4% 14%;
    --accent-foreground: 240 5% 90%;

    --destructive: 0 62% 45%;
    --destructive-foreground: 240 5% 96%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 80%;

    --radius: 0.375rem;
  }

  .dark {
    --background: 240 6% 6%;
    --foreground: 240 5% 90%;

    --card: 240 6% 8%;
    --card-foreground: 240 5% 90%;

    --popover: 240 5% 9%;
    --popover-foreground: 240 5% 90%;

    --primary: 240 5% 90%;
    --primary-foreground: 240 6% 6%;

    --secondary: 240 4% 12%;
    --secondary-foreground: 240 5% 90%;

    --muted: 240 4% 12%;
    --muted-foreground: 240 4% 65%;

    --accent: 240 4% 14%;
    --accent-foreground: 240 5% 90%;

    --destructive: 0 62% 45%;
    --destructive-foreground: 240 5% 96%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight;
  }

  ::selection {
    background: hsl(240 5% 90% / 0.16);
  }
}
